.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-6Lhw5mK6wolF);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___6GSqk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img__k6K3P {
  object-fit: contain;
  max-width: 8%;
  margin: 10px 0px 10px 15px;
}
.img__k6K3P > picture > img {
  object-fit: contain;
}
.text__rsYud {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__hntkM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img__u97Fn {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__mi214 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___3RtJ0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox___3VjMt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__nawkb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___9Gg77 {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img___9Gg77 > picture > img {
  object-fit: cover;
}
.text__fdHg5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__oLsC9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__g5PKf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__m0HHq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__j5XYi {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img__j5XYi > picture > img {
  object-fit: cover;
}
.text__kVGe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__noxqu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__g5Euy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__hzjxL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__hEzrd {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img__hEzrd > picture > img {
  object-fit: cover;
}
.text__dwijN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox___5Hszv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__uOqJ2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__qtjzw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__yXcY {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img__yXcY > picture > img {
  object-fit: cover;
}
.text___1Saiy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__e2MGb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__z1Nln {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__jOSr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__puMtN {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img__puMtN > picture > img {
  object-fit: cover;
}
.text__r2Tp3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__hFrDr {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-wrap: nowrap;
  align-content: stretch;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text__nc3QR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 900;
  color: #009cff;
  font-size: 20px;
  min-width: 0;
  padding: 5px;
}
