.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-6Lhw5mK6wolF);
  position: relative;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__vTiY {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.text__sBcQx {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  position: relative;
  align-self: center;
  font-weight: 900;
  font-size: 18px;
  min-width: 0;
  padding: 15px 60px 15px 15px;
}
.freeBox__oHWaS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 5px 0px 0px;
}
.img___8Om55 {
  object-fit: contain;
  max-width: 25%;
}
.img___8Om55 > picture > img {
  object-fit: contain;
}
.text__kiSuq {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 10px;
  padding: 2px;
}
.freeBox__rik3R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img__f5Do5 {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__pfYc3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__v7H1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__e4Uk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__zS6PI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__gmXKc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__e8RnG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__lZRgF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__eg5I {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__vtqrh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__rtgvd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__qC1Ut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__mf3ZU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text___9WRns {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__ixZ5K {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__exfX4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__mFkLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__rmXB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__wH3Ma {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text___81DWr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox___28RBr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__nSnj3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__vfb5G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__prZ1T {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__kV0VC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__f4Sty {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__lxL3C {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text___2ZMwU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 900;
  color: #009cff;
  font-size: 20px;
  min-width: 0;
  padding: 5px;
}
